root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true
ij_continuation_indent_size = 2
ij_any_keep_indents_on_empty_lines = false
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = false
ij_smart_tabs = true
ij_wrap_on_typing = true
ij_any_block_brace_style = end_of_line
ij_any_keep_blank_lines_in_code = 1
ij_typescript_spaces_within_imports = true
ij_typescript_spaces_within_object_literal_braces = false
ij_javascript_spaces_within_imports = true
ij_javascript_spaces_within_object_literal_braces = false
ij_html_attribute_wrap = split_into_lines

[*.vue]
ij_html_align_attributes = true
ij_html_align_text = true
ij_html_new_line_before_first_attribute = when multiline
